In [1]:
import numpy as np
import pandas as pd

In [10]:
d1 = {'identity': [1,2,3,4,5,6], 'sys': ['A','B','C','D','E','F']}
df1 = pd.DataFrame(data=d1)
df1

   identity sys
0         1   A
1         2   B
2         3   C
3         4   D
4         5   E
5         6   F

In [11]:
d2 = {'identity': [11,22,33,44], 'sys': ['A','C','E','F']}
df2 = pd.DataFrame(data=d2)
df2

   identity sys
0        11   A
1        22   C
2        33   E
3        44   F

In [25]:
identity = set(df1.identity) |  set(df2.identity)
sys = set(df1.sys) |  set(df2.sys)
identity,sys

({1, 2, 3, 4, 5, 6, 11, 22, 33, 44}, {'A', 'B', 'C', 'D', 'E', 'F'})