In [5]:
import pandas as pd
import numpy as np

In [19]:
#names = pd.Series(['peter','paul',None,'Mary','gUIDO'])
#names.str.capitalize()
#names.str.upper()
#names.str.lower()
#names.str.startswith('p')

# names = pd.Series(['peter jo','paul pa',None,'Mary ma','gUIDO'])
# names.str.split(expand=True)
# names.str.slice(0,2)

0      pe
1      pa
2    None
3      Ma
4      gU
dtype: object

In [26]:
names = pd.Series(['peter','paul','aaa','Mary','gUIDO','aaa'])
full = pd.DataFrame({'name': names,
                    'info': ['B|C|D','B|D','A|C',
                            'B|D','B|C','B|C|D']})
full
full['info'].str.get_dummies()

   A  B  C  D
0  0  1  1  1
1  0  1  0  1
2  1  0  1  0
3  0  1  0  1
4  0  1  1  0
5  0  1  1  1