In [2]:
import pandas as pd

In [5]:
df = pd.read_csv("myfile.csv")
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [ ]:
# df = pd.read_csv("myfile.csv",header=None)
# df
#df.head()
#df.info()

In [4]:
df = pd.read_csv("myfile.csv",index_col='message')
df

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [8]:
df.set_index('message',inplace=True)
df

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [14]:
df2 = pd.read_table('myfile.csv',sep=',',index_col='message')
df2

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [17]:
df3 = pd.read_csv('myfile.csv',skiprows=[0])
df3

   1   2   3   4  hello
0  5   6   7   8  world
1  9  10  11  12    foo

In [25]:
df4 = pd.read_csv('myfile6.csv',na_values=['foo'])
df4

  somethong  a    b    c     d message
0       one  1  2.0    3   4.0     NaN
1       two  5  6.0  NaN   8.0   world
2     three  9  NaN   11  12.0     NaN
3      four  9  NaN   11  -1.0     sss
4      five  9  NaN  NaN   NaN     NaN
5       six  9  NaN   ''  13.0     NaN