In [1]:
import json
import pandas as pd
import numpy as np

In [2]:
df = pd.read_json('recipeitems-latest.json', lines=True)

In [3]:
df.head(3)

,_id,cookTime,creator,dateModified,datePublished,description,image,ingredients,name,prepTime,recipeCategory,recipeInstructions,recipeYield,source,totalTime,ts,url
0,{'$oid': '5160756b96cc62079cc2db15'},PT30M,NaN,NaN,2013-03-11,"Late Saturday afternoon, after Marlboro Man ha...",http://static.thepioneerwoman.com/cooking/file...,Biscuits\n3 cups All-purpose Flour\n2 Tablespo...,Drop Biscuits and Sausage Gravy,PT10M,NaN,NaN,12,thepioneerwoman,NaN,{'$date': 1365276011104},http://thepioneerwoman.com/cooking/2013/03/dro...
1,{'$oid': '5160756d96cc62079cc2db16'},PT20M,NaN,NaN,2013-03-13,"When I was growing up, I participated in my Ep...",http://static.thepioneerwoman.com/cooking/file...,12 whole Dinner Rolls Or Small Sandwich Buns (...,Hot Roast Beef Sandwiches,PT20M,NaN,NaN,12,thepioneerwoman,NaN,{'$date': 1365276013902},http://thepioneerwoman.com/cooking/2013/03/hot...
2,{'$oid': '5160756f96cc6207a37ff777'},NaN,NaN,NaN,2013-01-07,A beauty of a carrot salad - tricked out with ...,http://www.101cookbooks.com/mt-static/images/f...,Dressing:\n1 tablespoon cumin seeds\n1/3 cup /...,Morrocan Carrot and Chickpea Salad,PT15M,NaN,NaN,NaN,101cookbooks,NaN,{'$date': 1365276015332},http://www.101cookbooks.com/archives/moroccan-...

In [4]:
df.loc[0, 'ingredients']

'Biscuits\n3 cups All-purpose Flour\n2 Tablespoons Baking Powder\n1/2 teaspoon Salt\n1-1/2 stick (3/4 Cup) Cold Butter, Cut Into Pieces\n1-1/4 cup Butermilk\n SAUSAGE GRAVY\n1 pound Breakfast Sausage, Hot Or Mild\n1/3 cup All-purpose Flour\n4 cups Whole Milk\n1/2 teaspoon Seasoned Salt\n2 teaspoons Black Pepper, More To Taste'

In [5]:
df.shape

(173278, 17)

In [6]:
df.ingredients.str.split('\n')

0         [Biscuits, 3 cups All-purpose Flour, 2 Tablesp...
1         [12 whole Dinner Rolls Or Small Sandwich Buns ...
2         [Dressing:, 1 tablespoon cumin seeds, 1/3 cup ...
3         [Biscuits, 3 cups All-purpose Flour, 2 Tablesp...
4         [For each bowl: , a big dollop of Greek yogurt...
5         [4 Tablespoons Butter, 1 package (10 Ounces) M...
6         [3-4 handfuls spinach, ֲ½ cup kamut, uncooked,...
7         [6 whole Medium Russet Potatoes (6 To 8),  Sal...
8         [4 tablespoons fresh thyme leaves, stripped fr...
9         [1ֲ½ cups whole wheat pastry flour, 1ֲ¾ cup ro...
10        [1 whole Fully Cooked Bone-in Ham (15-18 Pound...
11        [1 cup Sugar, 1 cup Water,  Juice Of 1 Orange,...
12        [Tart Dough:, 1 cup all-purpose flour, 1/8 tsp...
13        [2 cups / 475 ml whole milk, 2 tablespoons uns...
14        [2 8-10ג€³ tortillas (I used sprouted grain to...
15        [12 whole Hard Boiled Eggs, 1/2 cup Mayonnaise...
16        [olive oil or clarified butter, 1 bunch of kal...
17        [2 cups Masa Harina, 1 tsp baking powder, ֲ½ t...
18        [1 stick of butter, 1 loaf of cinnamon raisin ...
19        [8 whole Small Russet Potatoes,  Canola Oil,  ...
20        [6 tbsp unsalted butter, at room temperature, ...
21        [1 thick slice country bread, crust removed, 2...
22        [ֲ½ head green cabbage, approximately 4-5 cups...
23        [1 cup heavy cream, 2 tbsp Kahlua, 1 egg &amp;...
24        [3 celery stalks, very thinly sliced, 1 cup ch...
25        [2 1/2 tablespoons coconut oil, 1 shallot, cho...
26        [2 eggs, brought to room temperature shortly b...
27        [3-4 large beets, 1 tablespoon olive oil, ֲ¼ t...
28        [Crust, 4 tbsp of melted butter, 1 box (9oz) o...
29        [1 sweet potato, 2 tablespoon olive oil, divid...
                                ...
173248    [12 whole FOR THE SHRIMP COCKTAIL:, 2 Tablespo...
173249    [1 Tablespoon Whole Almonds, 6 ounces, weight ...
173250    [1 whole Ripe Avocado (I Use Haas, Any Will Wo...
173251    [1 stick Lightly Salted Butter, Softened, 3 Ta...
173252    [1 cup Sweetened Coconut Flakes, 2 sticks Ligh...
173253    [2 cups Vinegar (up To Double This Amount, See...
173254    [2 ounces, fluid London Dry Gin, ֲ½ ounces, fl...
173255    [1 teaspoon Sea Salt, 1 pound Pasta (I Used Gn...
173256    [ג…“ cups Oats, ג…” cups Almond Milk (or Any O...
173257    [1 can (15 Oz. Size) Chickpeas, 2 whole Avocad...
173258    [1 Tablespoon Dry Active Yeast, ֲ½ cups Lukewa...
173259    [2 packages (7g Size) Unflavored Gelatin, 6 Ta...
173260    [16 slices Bacon, 2 pounds Ground Italian Saus...
173261    [3 cups Water Kefir, 2 cups Hulled Fresh Straw...
173262    [2 sticks Unsalted Butter, Softened, ֲ¾ cups B...
173263    [2 cups Candy Corn, 15 ounces, weight Creamy P...
173264    [ג…“ cups Sour Cream, 1 Tablespoon Mayonnaise,...
173265    [1 cup FOR THE SALSA:, ֲ¼ cups Diced Fresh Man...
173266    [1 cup FOR THE GRITS:, 1 cup Heavy Cream, ֲ½ c...
173267    [1 Tablespoon Olive Oil, 2 Tablespoons Unsalte...
173268    [1 Tablespoon Dijon Mustard, 1 Tablespoon Butt...
173269    [12 ounces, weight Milk Chocolate Chips, 3 cup...
173270    [6 whole Large Potatoes, Sweet Potatoes Or Yam...
173271    [1 cup FOR THE THYME AND LEMON SIMPLE SYRUP:, ...
173272    [8 whole FOR THE CARROT CAKE:, 1 cup Carrots, ...
173273    [250 milliliters Cream, 395 grams Canned Sweet...
173274    [2 cups Candy Corn, 1 teaspoon Vanilla Extract...
173275    [1/4 cup ground cumin, 1/4 cup kosher salt, 2 ...
173276    [Two 16 ounce cans Old El Paso Refried Beans, ...
173277    [ג…“ cup melted coconut oil or extra-virgin ol...
Name: ingredients, Length: 173278, dtype: object

In [7]:
df.ingredients.str.split('\n').str.len()

0         12
1         10
2         12
3         17
4          7
5          6
6          8
7          4
8          4
9         10
10         6
11        10
12        22
13         9
14         9
15        13
16        10
17        25
18         4
19         9
20        13
21        10
22         6
23         4
24        16
25        17
26         7
27        10
28         8
29        16
          ..
173248    10
173249     4
173250    12
173251     3
173252     5
173253     5
173254     4
173255    11
173256     7
173257     6
173258     9
173259     8
173260    11
173261     4
173262    13
173263     3
173264     8
173265    11
173266    14
173267    11
173268    10
173269     4
173270     4
173271     8
173272    22
173273     3
173274     5
173275     5
173276     8
173277    12
Name: ingredients, Length: 173278, dtype: int64

In [8]:
df.ingredients.str.split('\n').apply(len)

0         12
1         10
2         12
3         17
4          7
5          6
6          8
7          4
8          4
9         10
10         6
11        10
12        22
13         9
14         9
15        13
16        10
17        25
18         4
19         9
20        13
21        10
22         6
23         4
24        16
25        17
26         7
27        10
28         8
29        16
          ..
173248    10
173249     4
173250    12
173251     3
173252     5
173253     5
173254     4
173255    11
173256     7
173257     6
173258     9
173259     8
173260    11
173261     4
173262    13
173263     3
173264     8
173265    11
173266    14
173267    11
173268    10
173269     4
173270     4
173271     8
173272    22
173273     3
173274     5
173275     5
173276     8
173277    12
Name: ingredients, Length: 173278, dtype: int64

In [9]:
df['num_ing'] = df.ingredients.str.split('\n').apply(len)

In [10]:
df.head(2)

,_id,cookTime,creator,dateModified,datePublished,description,image,ingredients,name,prepTime,recipeCategory,recipeInstructions,recipeYield,source,totalTime,ts,url,num_ing
0,{'$oid': '5160756b96cc62079cc2db15'},PT30M,NaN,NaN,2013-03-11,"Late Saturday afternoon, after Marlboro Man ha...",http://static.thepioneerwoman.com/cooking/file...,Biscuits\n3 cups All-purpose Flour\n2 Tablespo...,Drop Biscuits and Sausage Gravy,PT10M,NaN,NaN,12,thepioneerwoman,NaN,{'$date': 1365276011104},http://thepioneerwoman.com/cooking/2013/03/dro...,12
1,{'$oid': '5160756d96cc62079cc2db16'},PT20M,NaN,NaN,2013-03-13,"When I was growing up, I participated in my Ep...",http://static.thepioneerwoman.com/cooking/file...,12 whole Dinner Rolls Or Small Sandwich Buns (...,Hot Roast Beef Sandwiches,PT20M,NaN,NaN,12,thepioneerwoman,NaN,{'$date': 1365276013902},http://thepioneerwoman.com/cooking/2013/03/hot...,10

In [11]:
new_feat = df.ingredients.str.split('\n').apply(len)

In [12]:
df.insert(0, 'num_ingr', new_feat)

In [13]:
df.head(2)

,num_ingr,_id,cookTime,creator,dateModified,datePublished,description,image,ingredients,name,prepTime,recipeCategory,recipeInstructions,recipeYield,source,totalTime,ts,url,num_ing
0,12,{'$oid': '5160756b96cc62079cc2db15'},PT30M,NaN,NaN,2013-03-11,"Late Saturday afternoon, after Marlboro Man ha...",http://static.thepioneerwoman.com/cooking/file...,Biscuits\n3 cups All-purpose Flour\n2 Tablespo...,Drop Biscuits and Sausage Gravy,PT10M,NaN,NaN,12,thepioneerwoman,NaN,{'$date': 1365276011104},http://thepioneerwoman.com/cooking/2013/03/dro...,12
1,10,{'$oid': '5160756d96cc62079cc2db16'},PT20M,NaN,NaN,2013-03-13,"When I was growing up, I participated in my Ep...",http://static.thepioneerwoman.com/cooking/file...,12 whole Dinner Rolls Or Small Sandwich Buns (...,Hot Roast Beef Sandwiches,PT20M,NaN,NaN,12,thepioneerwoman,NaN,{'$date': 1365276013902},http://thepioneerwoman.com/cooking/2013/03/hot...,10

In [14]:
df[['name', 'num_ing']].sort_values('num_ing', ascending=False).head()

                                                    name  num_ing
3048           Tiffin: a selection of Indian street food      129
72163     Cooking For Others: 25 Years of Jor, 1 of BGSK      126
3050   Slow-roasted lamb shoulder with cashew nut and...      103
70848              Cooking For Others: Non-Picnic Brunch      101
73271               Potluck Parties: Magazine Club March       92

In [15]:
df[['name', 'num_ing']].sort_values('num_ing', ascending=False)[:1]

                                           name  num_ing
3048  Tiffin: a selection of Indian street food      129

In [16]:
df[['name', 'num_ing']].sort_values('num_ing', ascending=False)[:1]['name']

3048    Tiffin: a selection of Indian street food
Name: name, dtype: object

In [17]:
df.nlargest(1, 'num_ing').name

3048    Tiffin: a selection of Indian street food
Name: name, dtype: object

In [18]:
df.description.str.contains('breakfast').head()

0    False
1    False
2    False
3    False
4     True
Name: description, dtype: object

In [30]:
df2  = df[df.description.str.contains('breakfast') == True]

In [31]:
df2.shape

(3442, 19)

In [21]:
df.description.str.contains('breakfast').sum()

3442

In [22]:
np.sum(df.description.str.contains('breakfast'))

3442

In [23]:
np.sum(df.description.str.contains('Breakfast'))

106

In [24]:
df.description.str.contains('breakfast').isna().sum()

15210

In [25]:
df[df.num_ing==3].head(2)

,num_ingr,_id,cookTime,creator,dateModified,datePublished,description,image,ingredients,name,prepTime,recipeCategory,recipeInstructions,recipeYield,source,totalTime,ts,url,num_ing
32,3,{'$oid': '5160758896cc6207b12d18df'},NaN,NaN,2013-03-24T04:42:49+00:00,2013-02-14T21:26:19+00:00,Happy Valentines Day! ֲ I am not a big Valenti...,http://delishhh.com/wp-content/uploads/2013/02...,2 oz vodka\n1 1/4 oz Kahlua\n1 1/4 oz Internat...,White Russian Cocktail,PT5M,NaN,NaN,serves 1,delishhh,NaN,{'$date': 1365276040793},http://delishhh.com/2013/02/14/white-russian-c...,3
39,3,{'$oid': '5160758f96cc6207b12d18e2'},PT20M,NaN,2013-03-24T04:46:50+00:00,2013-03-20T18:15:12+00:00,Recently iֲ got a mandolineֲ and iֲ have no id...,http://delishhh.com/wp-content/uploads/2013/03...,2 pounds potatoes\n1/4 cup olive oil\nSeasonin...,Homemade Potato Chips,PT10M,NaN,NaN,6 cups,delishhh,NaN,{'$date': 1365276047397},http://delishhh.com/2013/03/20/homemade-potato...,3

In [52]:
#number of records
len(df[df.num_ing==3])

4932

In [53]:
#OR
df[df.num_ing==3].shape[0]

4932

In [54]:
test = ['parsley', 'paprika', 'tarragon']

In [60]:
df['all_ing'] = df.ingredients.apply(calc_all_ing, ings_to_test = test)

In [61]:
def calc_all_ing(curr_full_ing_list, ings_to_test):
    all_exist = True
    curr_full_ing_list_split = curr_full_ing_list.split('\n')
    for ing in ings_to_test:
        curr_exist = sum([ing in x for x in curr_full_ing_list_split]) > 0
        all_exist &= curr_exist
        #optimization
        if all_exist == False:
            return all_exist
    return all_exist

In [62]:
aaa = [True, False, True]

In [63]:
sum(aaa)

2

In [64]:
df.all_ing.sum()

10